<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_17_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{298, 93}, {156, 106}}</string>
			<key>spriteOffset</key>
			<string>{-24, 4}</string>
			<key>spriteSize</key>
			<string>{156, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 502}, {156, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{333, 84}, {138, 114}}</string>
			<key>spriteOffset</key>
			<string>{2, 9}</string>
			<key>spriteSize</key>
			<string>{138, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 386}, {138, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{368, 81}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{27, 10}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 266}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 84}, {128, 114}}</string>
			<key>spriteOffset</key>
			<string>{44, 9}</string>
			<key>spriteSize</key>
			<string>{128, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 266}, {128, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 95}, {162, 104}}</string>
			<key>spriteOffset</key>
			<string>{61, 3}</string>
			<key>spriteSize</key>
			<string>{162, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 382}, {162, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 109}, {190, 90}}</string>
			<key>spriteOffset</key>
			<string>{75, -4}</string>
			<key>spriteSize</key>
			<string>{190, 90}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 266}, {190, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 128}, {214, 70}}</string>
			<key>spriteOffset</key>
			<string>{87, -13}</string>
			<key>spriteSize</key>
			<string>{214, 70}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 766}, {214, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 132}, {222, 56}}</string>
			<key>spriteOffset</key>
			<string>{91, -10}</string>
			<key>spriteSize</key>
			<string>{222, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 766}, {222, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {240, 54}}</string>
			<key>spriteOffset</key>
			<string>{100, -11}</string>
			<key>spriteSize</key>
			<string>{240, 54}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 896}, {240, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 133}, {250, 56}}</string>
			<key>spriteOffset</key>
			<string>{105, -11}</string>
			<key>spriteSize</key>
			<string>{250, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 838}, {250, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 133}, {254, 62}}</string>
			<key>spriteOffset</key>
			<string>{107, -14}</string>
			<key>spriteSize</key>
			<string>{254, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 702}, {254, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 133}, {260, 64}}</string>
			<key>spriteOffset</key>
			<string>{110, -15}</string>
			<key>spriteSize</key>
			<string>{260, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{742, 618}, {260, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {264, 64}}</string>
			<key>spriteOffset</key>
			<string>{112, -16}</string>
			<key>spriteSize</key>
			<string>{264, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{742, 398}, {264, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {264, 64}}</string>
			<key>spriteOffset</key>
			<string>{112, -16}</string>
			<key>spriteSize</key>
			<string>{264, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{742, 552}, {264, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 133}, {270, 64}}</string>
			<key>spriteOffset</key>
			<string>{115, -15}</string>
			<key>spriteSize</key>
			<string>{270, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 332}, {270, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {278, 64}}</string>
			<key>spriteOffset</key>
			<string>{119, -16}</string>
			<key>spriteSize</key>
			<string>{278, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{744, 266}, {278, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {282, 84}}</string>
			<key>spriteOffset</key>
			<string>{121, -26}</string>
			<key>spriteSize</key>
			<string>{282, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 638}, {282, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {286, 84}}</string>
			<key>spriteOffset</key>
			<string>{123, -26}</string>
			<key>spriteSize</key>
			<string>{286, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 616}, {286, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {288, 84}}</string>
			<key>spriteOffset</key>
			<string>{124, -26}</string>
			<key>spriteSize</key>
			<string>{288, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 552}, {288, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {290, 84}}</string>
			<key>spriteOffset</key>
			<string>{125, -26}</string>
			<key>spriteSize</key>
			<string>{290, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 530}, {290, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {292, 86}}</string>
			<key>spriteOffset</key>
			<string>{126, -27}</string>
			<key>spriteSize</key>
			<string>{292, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 464}, {292, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {294, 86}}</string>
			<key>spriteOffset</key>
			<string>{127, -27}</string>
			<key>spriteSize</key>
			<string>{294, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 442}, {294, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {296, 86}}</string>
			<key>spriteOffset</key>
			<string>{128, -27}</string>
			<key>spriteSize</key>
			<string>{296, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 354}, {296, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {298, 86}}</string>
			<key>spriteOffset</key>
			<string>{129, -27}</string>
			<key>spriteSize</key>
			<string>{298, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 266}, {298, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 2}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 2}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 90}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 90}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 90}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 178}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 178}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_17_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{380, 134}, {300, 86}}</string>
			<key>spriteOffset</key>
			<string>{130, -27}</string>
			<key>spriteSize</key>
			<string>{300, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 178}, {300, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>