<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_29_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{262, 81}, {182, 118}}</string>
			<key>spriteOffset</key>
			<string>{-47, 10}</string>
			<key>spriteSize</key>
			<string>{182, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 2}, {182, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{250, 75}, {204, 124}}</string>
			<key>spriteOffset</key>
			<string>{-48, 13}</string>
			<key>spriteSize</key>
			<string>{204, 124}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 162}, {204, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{237, 75}, {230, 126}}</string>
			<key>spriteOffset</key>
			<string>{-48, 12}</string>
			<key>spriteSize</key>
			<string>{230, 126}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 984}, {230, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{225, 79}, {254, 124}}</string>
			<key>spriteOffset</key>
			<string>{-48, 9}</string>
			<key>spriteSize</key>
			<string>{254, 124}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 1180}, {254, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{212, 82}, {282, 118}}</string>
			<key>spriteOffset</key>
			<string>{-47, 9}</string>
			<key>spriteSize</key>
			<string>{282, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 162}, {282, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{200, 99}, {308, 102}}</string>
			<key>spriteOffset</key>
			<string>{-46, -0}</string>
			<key>spriteSize</key>
			<string>{308, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 820}, {308, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 112}, {312, 88}}</string>
			<key>spriteOffset</key>
			<string>{-37, -6}</string>
			<key>spriteSize</key>
			<string>{312, 88}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 2}, {312, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{215, 114}, {304, 86}}</string>
			<key>spriteOffset</key>
			<string>{-33, -7}</string>
			<key>spriteSize</key>
			<string>{304, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1274}, {304, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{203, 111}, {324, 90}}</string>
			<key>spriteOffset</key>
			<string>{-35, -6}</string>
			<key>spriteSize</key>
			<string>{324, 90}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 1086}, {324, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{192, 101}, {344, 100}}</string>
			<key>spriteOffset</key>
			<string>{-36, -1}</string>
			<key>spriteSize</key>
			<string>{344, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 984}, {344, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{180, 93}, {360, 108}}</string>
			<key>spriteOffset</key>
			<string>{-40, 3}</string>
			<key>spriteSize</key>
			<string>{360, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 710}, {360, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{169, 95}, {380, 106}}</string>
			<key>spriteOffset</key>
			<string>{-41, 2}</string>
			<key>spriteSize</key>
			<string>{380, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 602}, {380, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{157, 101}, {400, 100}}</string>
			<key>spriteOffset</key>
			<string>{-43, -1}</string>
			<key>spriteSize</key>
			<string>{400, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 500}, {400, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{157, 108}, {404, 92}}</string>
			<key>spriteOffset</key>
			<string>{-41, -4}</string>
			<key>spriteSize</key>
			<string>{404, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 406}, {404, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 110}, {412, 90}}</string>
			<key>spriteOffset</key>
			<string>{-36, -5}</string>
			<key>spriteSize</key>
			<string>{412, 90}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 314}, {412, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 108}, {422, 92}}</string>
			<key>spriteOffset</key>
			<string>{-36, -4}</string>
			<key>spriteSize</key>
			<string>{422, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1180}, {422, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{148, 104}, {430, 96}}</string>
			<key>spriteOffset</key>
			<string>{-37, -2}</string>
			<key>spriteSize</key>
			<string>{430, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1082}, {430, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 104}, {438, 96}}</string>
			<key>spriteOffset</key>
			<string>{-38, -2}</string>
			<key>spriteSize</key>
			<string>{438, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 984}, {438, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{138, 104}, {446, 96}}</string>
			<key>spriteOffset</key>
			<string>{-39, -2}</string>
			<key>spriteSize</key>
			<string>{446, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 314}, {446, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 108}, {450, 92}}</string>
			<key>spriteOffset</key>
			<string>{-42, -4}</string>
			<key>spriteSize</key>
			<string>{450, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 162}, {450, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{129, 115}, {454, 86}}</string>
			<key>spriteOffset</key>
			<string>{-44, -8}</string>
			<key>spriteSize</key>
			<string>{454, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {454, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{131, 131}, {452, 70}}</string>
			<key>spriteOffset</key>
			<string>{-43, -16}</string>
			<key>spriteSize</key>
			<string>{452, 70}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 90}, {452, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{134, 144}, {448, 56}}</string>
			<key>spriteOffset</key>
			<string>{-42, -22}</string>
			<key>spriteSize</key>
			<string>{448, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 256}, {448, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 60}}</string>
			<key>spriteOffset</key>
			<string>{-40, -24}</string>
			<key>spriteSize</key>
			<string>{446, 60}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 860}, {446, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 60}}</string>
			<key>spriteOffset</key>
			<string>{-40, -24}</string>
			<key>spriteSize</key>
			<string>{446, 60}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 922}, {446, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 668}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 476}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 604}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 796}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 540}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 412}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 144}, {446, 62}}</string>
			<key>spriteOffset</key>
			<string>{-40, -25}</string>
			<key>spriteSize</key>
			<string>{446, 62}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 732}, {446, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>