<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_9_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {150, 102}}</string>
			<key>spriteOffset</key>
			<string>{-39, 2}</string>
			<key>spriteSize</key>
			<string>{150, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {150, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 99}, {148, 100}}</string>
			<key>spriteOffset</key>
			<string>{-38, 1}</string>
			<key>spriteSize</key>
			<string>{148, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 106}, {148, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 105}, {146, 94}}</string>
			<key>spriteOffset</key>
			<string>{-38, -2}</string>
			<key>spriteSize</key>
			<string>{146, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 208}, {146, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{290, 105}, {140, 94}}</string>
			<key>spriteOffset</key>
			<string>{-40, -2}</string>
			<key>spriteSize</key>
			<string>{140, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 304}, {140, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{292, 104}, {132, 94}}</string>
			<key>spriteOffset</key>
			<string>{-42, -1}</string>
			<key>spriteSize</key>
			<string>{132, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 408}, {132, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 104}, {128, 94}}</string>
			<key>spriteOffset</key>
			<string>{-43, -1}</string>
			<key>spriteSize</key>
			<string>{128, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 504}, {128, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{292, 100}, {126, 98}}</string>
			<key>spriteOffset</key>
			<string>{-45, 1}</string>
			<key>spriteSize</key>
			<string>{126, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 504}, {126, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{290, 97}, {130, 102}}</string>
			<key>spriteOffset</key>
			<string>{-45, 2}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 502}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 96}, {130, 102}}</string>
			<key>spriteOffset</key>
			<string>{-46, 3}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 106}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 95}, {132, 104}}</string>
			<key>spriteOffset</key>
			<string>{-48, 3}</string>
			<key>spriteSize</key>
			<string>{132, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 106}, {132, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 96}, {132, 102}}</string>
			<key>spriteOffset</key>
			<string>{-48, 3}</string>
			<key>spriteSize</key>
			<string>{132, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 312}, {132, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 98}, {134, 100}}</string>
			<key>spriteOffset</key>
			<string>{-47, 2}</string>
			<key>spriteSize</key>
			<string>{134, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 418}, {134, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 99}, {136, 100}}</string>
			<key>spriteOffset</key>
			<string>{-46, 1}</string>
			<key>spriteSize</key>
			<string>{136, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 400}, {136, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 98}, {136, 100}}</string>
			<key>spriteOffset</key>
			<string>{-46, 2}</string>
			<key>spriteSize</key>
			<string>{136, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {136, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 98}, {138, 100}}</string>
			<key>spriteOffset</key>
			<string>{-45, 2}</string>
			<key>spriteSize</key>
			<string>{138, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 106}, {138, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 98}, {138, 100}}</string>
			<key>spriteOffset</key>
			<string>{-45, 2}</string>
			<key>spriteSize</key>
			<string>{138, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 316}, {138, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {138, 102}}</string>
			<key>spriteOffset</key>
			<string>{-45, 2}</string>
			<key>spriteSize</key>
			<string>{138, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 208}, {138, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {138, 102}}</string>
			<key>spriteOffset</key>
			<string>{-45, 2}</string>
			<key>spriteSize</key>
			<string>{138, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 2}, {138, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {136, 102}}</string>
			<key>spriteOffset</key>
			<string>{-46, 2}</string>
			<key>spriteSize</key>
			<string>{136, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {136, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {134, 102}}</string>
			<key>spriteOffset</key>
			<string>{-47, 2}</string>
			<key>spriteSize</key>
			<string>{134, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 2}, {134, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{285, 97}, {132, 102}}</string>
			<key>spriteOffset</key>
			<string>{-49, 2}</string>
			<key>spriteSize</key>
			<string>{132, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 212}, {132, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{285, 97}, {130, 102}}</string>
			<key>spriteOffset</key>
			<string>{-50, 2}</string>
			<key>spriteSize</key>
			<string>{130, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 304}, {130, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 98}, {130, 100}}</string>
			<key>spriteOffset</key>
			<string>{-49, 2}</string>
			<key>spriteSize</key>
			<string>{130, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 520}, {130, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{287, 101}, {128, 98}}</string>
			<key>spriteOffset</key>
			<string>{-49, -0}</string>
			<key>spriteSize</key>
			<string>{128, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 520}, {128, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 108}, {126, 90}}</string>
			<key>spriteOffset</key>
			<string>{-48, -3}</string>
			<key>spriteSize</key>
			<string>{126, 90}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 210}, {126, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 118}, {122, 80}}</string>
			<key>spriteOffset</key>
			<string>{-45, -8}</string>
			<key>spriteSize</key>
			<string>{122, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{552, 274}, {122, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 120}, {122, 78}}</string>
			<key>spriteOffset</key>
			<string>{-45, -9}</string>
			<key>spriteSize</key>
			<string>{122, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 356}, {122, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 118}, {122, 80}}</string>
			<key>spriteOffset</key>
			<string>{-45, -8}</string>
			<key>spriteSize</key>
			<string>{122, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 192}, {122, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 117}, {122, 84}}</string>
			<key>spriteOffset</key>
			<string>{-45, -9}</string>
			<key>spriteSize</key>
			<string>{122, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 106}, {122, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 118}, {122, 84}}</string>
			<key>spriteOffset</key>
			<string>{-45, -10}</string>
			<key>spriteSize</key>
			<string>{122, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{568, 2}, {122, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{292, 125}, {124, 74}}</string>
			<key>spriteOffset</key>
			<string>{-46, -12}</string>
			<key>spriteSize</key>
			<string>{124, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{794, 508}, {124, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 68}}</string>
			<key>spriteOffset</key>
			<string>{-48, -14}</string>
			<key>spriteSize</key>
			<string>{126, 68}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{810, 78}, {126, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{287, 130}, {128, 68}}</string>
			<key>spriteOffset</key>
			<string>{-49, -14}</string>
			<key>spriteSize</key>
			<string>{128, 68}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 620}, {128, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 70}}</string>
			<key>spriteOffset</key>
			<string>{-48, -15}</string>
			<key>spriteSize</key>
			<string>{126, 70}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 390}, {126, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 584}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{-48, -16}</string>
			<key>spriteSize</key>
			<string>{126, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 316}, {126, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 432}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 164}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 622}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{674, 356}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{692, 2}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 606}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{664, 600}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 606}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 600}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 240}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 508}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{289, 130}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-48, -17}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 88}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>