<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_19_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 102}, {166, 96}}</string>
			<key>spriteOffset</key>
			<string>{-12, -0}</string>
			<key>spriteSize</key>
			<string>{166, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 712}, {166, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{321, 100}, {188, 98}}</string>
			<key>spriteOffset</key>
			<string>{15, 1}</string>
			<key>spriteSize</key>
			<string>{188, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 290}, {188, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{340, 96}, {180, 102}}</string>
			<key>spriteOffset</key>
			<string>{30, 3}</string>
			<key>spriteSize</key>
			<string>{180, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 400}, {180, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{362, 90}, {162, 108}}</string>
			<key>spriteOffset</key>
			<string>{43, 6}</string>
			<key>spriteSize</key>
			<string>{162, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 290}, {162, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{387, 92}, {150, 106}}</string>
			<key>spriteOffset</key>
			<string>{62, 5}</string>
			<key>spriteSize</key>
			<string>{150, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 400}, {150, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 96}, {166, 104}}</string>
			<key>spriteOffset</key>
			<string>{76, 2}</string>
			<key>spriteSize</key>
			<string>{166, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 508}, {166, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {190, 92}}</string>
			<key>spriteOffset</key>
			<string>{88, -4}</string>
			<key>spriteSize</key>
			<string>{190, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{782, 890}, {190, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {204, 92}}</string>
			<key>spriteOffset</key>
			<string>{95, -4}</string>
			<key>spriteSize</key>
			<string>{204, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 770}, {204, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {224, 96}}</string>
			<key>spriteOffset</key>
			<string>{105, -6}</string>
			<key>spriteSize</key>
			<string>{224, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 810}, {224, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {230, 94}}</string>
			<key>spriteOffset</key>
			<string>{108, -5}</string>
			<key>spriteSize</key>
			<string>{230, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 578}, {230, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {236, 96}}</string>
			<key>spriteOffset</key>
			<string>{111, -6}</string>
			<key>spriteSize</key>
			<string>{236, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 908}, {236, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {236, 94}}</string>
			<key>spriteOffset</key>
			<string>{111, -5}</string>
			<key>spriteSize</key>
			<string>{236, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 674}, {236, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {242, 96}}</string>
			<key>spriteOffset</key>
			<string>{114, -6}</string>
			<key>spriteSize</key>
			<string>{242, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 908}, {242, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {252, 96}}</string>
			<key>spriteOffset</key>
			<string>{119, -6}</string>
			<key>spriteSize</key>
			<string>{252, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 810}, {252, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {262, 96}}</string>
			<key>spriteOffset</key>
			<string>{124, -6}</string>
			<key>spriteSize</key>
			<string>{262, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 712}, {262, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {268, 96}}</string>
			<key>spriteOffset</key>
			<string>{127, -6}</string>
			<key>spriteSize</key>
			<string>{268, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 290}, {268, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {274, 96}}</string>
			<key>spriteOffset</key>
			<string>{130, -6}</string>
			<key>spriteSize</key>
			<string>{274, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 390}, {274, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {282, 96}}</string>
			<key>spriteOffset</key>
			<string>{134, -6}</string>
			<key>spriteSize</key>
			<string>{282, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 504}, {282, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {290, 96}}</string>
			<key>spriteOffset</key>
			<string>{138, -6}</string>
			<key>spriteSize</key>
			<string>{290, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 614}, {290, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {296, 94}}</string>
			<key>spriteOffset</key>
			<string>{141, -5}</string>
			<key>spriteSize</key>
			<string>{296, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 890}, {296, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {308, 94}}</string>
			<key>spriteOffset</key>
			<string>{147, -5}</string>
			<key>spriteSize</key>
			<string>{308, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 794}, {308, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 98}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {328, 94}}</string>
			<key>spriteOffset</key>
			<string>{157, -5}</string>
			<key>spriteSize</key>
			<string>{328, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 2}, {328, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {328, 94}}</string>
			<key>spriteOffset</key>
			<string>{157, -5}</string>
			<key>spriteSize</key>
			<string>{328, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 2}, {328, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {328, 94}}</string>
			<key>spriteOffset</key>
			<string>{157, -5}</string>
			<key>spriteSize</key>
			<string>{328, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {328, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {326, 94}}</string>
			<key>spriteOffset</key>
			<string>{156, -5}</string>
			<key>spriteSize</key>
			<string>{326, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 98}, {326, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 290}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 194}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 194}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 698}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{626, 386}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 194}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 602}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{656, 98}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_19_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{393, 108}, {324, 94}}</string>
			<key>spriteOffset</key>
			<string>{155, -5}</string>
			<key>spriteSize</key>
			<string>{324, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 482}, {324, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>