<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_5_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 224}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 57}, {68, 42}}</string>
			<key>spriteOffset</key>
			<string>{-19, -3}</string>
			<key>spriteSize</key>
			<string>{68, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 294}, {68, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 57}, {68, 42}}</string>
			<key>spriteOffset</key>
			<string>{-19, -3}</string>
			<key>spriteSize</key>
			<string>{68, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 320}, {68, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 56}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -3}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 100}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 172}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 110}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 146}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 274}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 224}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 100}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 218}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 248}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 110}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-19, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 56}, {70, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{70, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 56}, {70, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{148, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-16, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 100}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-13, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{157, 55}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 110}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 57}, {68, 42}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{68, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 264}, {68, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{167, 59}, {70, 40}}</string>
			<key>spriteOffset</key>
			<string>{2, -4}</string>
			<key>spriteSize</key>
			<string>{70, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 102}, {70, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{176, 65}, {68, 34}}</string>
			<key>spriteOffset</key>
			<string>{10, -7}</string>
			<key>spriteSize</key>
			<string>{68, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 48}, {68, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{189, 75}, {62, 24}}</string>
			<key>spriteOffset</key>
			<string>{20, -12}</string>
			<key>spriteSize</key>
			<string>{62, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 296}, {62, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{190, 76}, {62, 24}}</string>
			<key>spriteOffset</key>
			<string>{21, -13}</string>
			<key>spriteSize</key>
			<string>{62, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 270}, {62, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{191, 76}, {64, 24}}</string>
			<key>spriteOffset</key>
			<string>{23, -13}</string>
			<key>spriteSize</key>
			<string>{64, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 294}, {64, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 76}, {66, 24}}</string>
			<key>spriteOffset</key>
			<string>{26, -13}</string>
			<key>spriteSize</key>
			<string>{66, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 192}, {66, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 76}, {70, 24}}</string>
			<key>spriteOffset</key>
			<string>{28, -13}</string>
			<key>spriteSize</key>
			<string>{70, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 144}, {70, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 76}, {74, 24}}</string>
			<key>spriteOffset</key>
			<string>{30, -13}</string>
			<key>spriteSize</key>
			<string>{74, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 248}, {74, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 76}, {76, 26}}</string>
			<key>spriteOffset</key>
			<string>{32, -14}</string>
			<key>spriteSize</key>
			<string>{76, 26}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 56}, {76, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 76}, {80, 26}}</string>
			<key>spriteOffset</key>
			<string>{34, -14}</string>
			<key>spriteSize</key>
			<string>{80, 26}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {80, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{34, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 30}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{34, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 196}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{34, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 208}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 48}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 74}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 48}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 48}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 222}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 156}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 74}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 182}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 74}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 198}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 84}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 146}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 170}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 172}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_5_0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 76}, {80, 24}}</string>
			<key>spriteOffset</key>
			<string>{35, -13}</string>
			<key>spriteSize</key>
			<string>{80, 24}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 84}, {80, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>