<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_27_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 51}, {78, 48}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 158}, {78, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 54}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 54}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 2}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 202}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 208}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 208}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 202}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 106}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 2}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 54}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 106}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 2}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 54}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 202}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 202}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 254}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 260}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 260}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 254}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{314, 254}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 254}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 2}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 150}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 54}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {80, 50}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{80, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 2}, {80, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {82, 50}}</string>
			<key>spriteOffset</key>
			<string>{-15, -0}</string>
			<key>spriteSize</key>
			<string>{82, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 106}, {82, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {84, 50}}</string>
			<key>spriteOffset</key>
			<string>{-14, -0}</string>
			<key>spriteSize</key>
			<string>{84, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {84, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 50}, {84, 50}}</string>
			<key>spriteOffset</key>
			<string>{-14, -0}</string>
			<key>spriteSize</key>
			<string>{84, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 54}, {84, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 52}, {82, 48}}</string>
			<key>spriteOffset</key>
			<string>{-13, -1}</string>
			<key>spriteSize</key>
			<string>{82, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 106}, {82, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 55}, {78, 44}}</string>
			<key>spriteOffset</key>
			<string>{-11, -2}</string>
			<key>spriteSize</key>
			<string>{78, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 158}, {78, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{155, 60}, {74, 40}}</string>
			<key>spriteOffset</key>
			<string>{-8, -5}</string>
			<key>spriteSize</key>
			<string>{74, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 306}, {74, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 60}, {66, 40}}</string>
			<key>spriteOffset</key>
			<string>{-5, -5}</string>
			<key>spriteSize</key>
			<string>{66, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 312}, {66, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 106}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 106}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 158}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{310, 158}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 158}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{58, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 312}, {58, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{58, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 306}, {58, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{58, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 306}, {58, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 158}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_27_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{171, 60}, {58, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{58, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 106}, {58, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>