<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_20_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{131, 36}, {82, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 7}</string>
			<key>spriteSize</key>
			<string>{82, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 82}, {82, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{120, 25}, {90, 74}}</string>
			<key>spriteOffset</key>
			<string>{-35, 13}</string>
			<key>spriteSize</key>
			<string>{90, 74}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 82}, {90, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{112, 21}, {98, 78}}</string>
			<key>spriteOffset</key>
			<string>{-39, 15}</string>
			<key>spriteSize</key>
			<string>{98, 78}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 2}, {98, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{104, 19}, {106, 80}}</string>
			<key>spriteOffset</key>
			<string>{-43, 16}</string>
			<key>spriteSize</key>
			<string>{106, 80}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 166}, {106, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{99, 18}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{-45, 16}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 84}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{95, 19}, {116, 80}}</string>
			<key>spriteOffset</key>
			<string>{-47, 16}</string>
			<key>spriteSize</key>
			<string>{116, 80}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 2}, {116, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{92, 19}, {118, 80}}</string>
			<key>spriteOffset</key>
			<string>{-49, 16}</string>
			<key>spriteSize</key>
			<string>{118, 80}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {118, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{94, 20}, {116, 80}}</string>
			<key>spriteOffset</key>
			<string>{-48, 15}</string>
			<key>spriteSize</key>
			<string>{116, 80}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 84}, {116, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 24}, {114, 76}}</string>
			<key>spriteOffset</key>
			<string>{-47, 13}</string>
			<key>spriteSize</key>
			<string>{114, 76}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 166}, {114, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{100, 28}, {110, 72}}</string>
			<key>spriteOffset</key>
			<string>{-45, 11}</string>
			<key>spriteSize</key>
			<string>{110, 72}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 168}, {110, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{105, 37}, {106, 62}}</string>
			<key>spriteOffset</key>
			<string>{-42, 7}</string>
			<key>spriteSize</key>
			<string>{106, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 242}, {106, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 49}, {100, 50}}</string>
			<key>spriteOffset</key>
			<string>{-39, 1}</string>
			<key>spriteSize</key>
			<string>{100, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 2}, {100, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{119, 58}, {92, 42}}</string>
			<key>spriteOffset</key>
			<string>{-35, -4}</string>
			<key>spriteSize</key>
			<string>{92, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 244}, {92, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 58}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{-31, -4}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 324}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 58}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{-31, -4}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 192}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 58}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{-31, -4}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 288}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 58}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{-31, -4}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 280}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{125, 58}, {86, 42}}</string>
			<key>spriteOffset</key>
			<string>{-32, -4}</string>
			<key>spriteSize</key>
			<string>{86, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 54}, {86, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{124, 58}, {86, 42}}</string>
			<key>spriteOffset</key>
			<string>{-33, -4}</string>
			<key>spriteSize</key>
			<string>{86, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 98}, {86, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{123, 58}, {88, 42}}</string>
			<key>spriteOffset</key>
			<string>{-33, -4}</string>
			<key>spriteSize</key>
			<string>{88, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 148}, {88, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{122, 58}, {88, 42}}</string>
			<key>spriteOffset</key>
			<string>{-34, -4}</string>
			<key>spriteSize</key>
			<string>{88, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 248}, {88, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{124, 58}, {86, 42}}</string>
			<key>spriteOffset</key>
			<string>{-33, -4}</string>
			<key>spriteSize</key>
			<string>{86, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 244}, {86, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{127, 58}, {84, 42}}</string>
			<key>spriteOffset</key>
			<string>{-31, -4}</string>
			<key>spriteSize</key>
			<string>{84, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 192}, {84, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{130, 58}, {80, 42}}</string>
			<key>spriteOffset</key>
			<string>{-30, -4}</string>
			<key>spriteSize</key>
			<string>{80, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 142}, {80, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 58}, {78, 42}}</string>
			<key>spriteOffset</key>
			<string>{-28, -4}</string>
			<key>spriteSize</key>
			<string>{78, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 324}, {78, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 306}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 350}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 394}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 236}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 332}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 376}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 368}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_20_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 58}, {74, 42}}</string>
			<key>spriteOffset</key>
			<string>{-27, -4}</string>
			<key>spriteSize</key>
			<string>{74, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 332}, {74, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>