<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_6_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 49}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, 1}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 276}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 48}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{-15, 1}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 176}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{149, 48}, {74, 52}}</string>
			<key>spriteOffset</key>
			<string>{-14, 1}</string>
			<key>spriteSize</key>
			<string>{74, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 282}, {74, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 49}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-12, 1}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 310}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 49}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 314}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 49}, {74, 50}}</string>
			<key>spriteOffset</key>
			<string>{-11, 1}</string>
			<key>spriteSize</key>
			<string>{74, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 328}, {74, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 47}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 260}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{155, 48}, {78, 52}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{78, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 128}, {78, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{157, 49}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 164}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 49}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 182}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 49}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 230}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{161, 48}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 176}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{163, 47}, {74, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{74, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 230}, {74, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 47}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 256}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 48}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 222}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 48}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 122}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 48}, {78, 52}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{78, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 122}, {78, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 49}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{7, 1}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 170}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{170, 50}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 164}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{175, 53}, {80, 46}}</string>
			<key>spriteOffset</key>
			<string>{15, -1}</string>
			<key>spriteSize</key>
			<string>{80, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 122}, {80, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{183, 57}, {78, 42}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{78, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 216}, {78, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {72, 38}}</string>
			<key>spriteOffset</key>
			<string>{31, -5}</string>
			<key>spriteSize</key>
			<string>{72, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 362}, {72, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {78, 38}}</string>
			<key>spriteOffset</key>
			<string>{34, -5}</string>
			<key>spriteSize</key>
			<string>{78, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 216}, {78, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {82, 40}}</string>
			<key>spriteOffset</key>
			<string>{36, -6}</string>
			<key>spriteSize</key>
			<string>{82, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 122}, {82, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {82, 40}}</string>
			<key>spriteOffset</key>
			<string>{36, -6}</string>
			<key>spriteSize</key>
			<string>{82, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 2}, {82, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {84, 40}}</string>
			<key>spriteOffset</key>
			<string>{37, -6}</string>
			<key>spriteSize</key>
			<string>{84, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{426, 44}, {84, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {88, 40}}</string>
			<key>spriteOffset</key>
			<string>{39, -6}</string>
			<key>spriteSize</key>
			<string>{88, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 122}, {88, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {92, 40}}</string>
			<key>spriteOffset</key>
			<string>{41, -6}</string>
			<key>spriteSize</key>
			<string>{92, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 86}, {92, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {96, 38}}</string>
			<key>spriteOffset</key>
			<string>{43, -5}</string>
			<key>spriteSize</key>
			<string>{96, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 82}, {96, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {102, 38}}</string>
			<key>spriteOffset</key>
			<string>{46, -5}</string>
			<key>spriteSize</key>
			<string>{102, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 82}, {102, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 2}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 42}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {106, 38}}</string>
			<key>spriteOffset</key>
			<string>{48, -5}</string>
			<key>spriteSize</key>
			<string>{106, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {106, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 82}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 42}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 42}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 42}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 2}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 2}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_6_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 61}, {104, 38}}</string>
			<key>spriteOffset</key>
			<string>{47, -5}</string>
			<key>spriteSize</key>
			<string>{104, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 82}, {104, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>