<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_24_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 100}, {152, 98}}</string>
			<key>spriteOffset</key>
			<string>{-36, 1}</string>
			<key>spriteSize</key>
			<string>{152, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 504}, {98, 152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 93}, {154, 106}}</string>
			<key>spriteOffset</key>
			<string>{-30, 4}</string>
			<key>spriteSize</key>
			<string>{154, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {106, 154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 97}, {164, 102}}</string>
			<key>spriteOffset</key>
			<string>{-13, 2}</string>
			<key>spriteSize</key>
			<string>{164, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 158}, {102, 164}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{306, 102}, {178, 98}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{178, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 324}, {98, 178}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 113}, {208, 88}}</string>
			<key>spriteOffset</key>
			<string>{-2, -7}</string>
			<key>spriteSize</key>
			<string>{208, 88}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 658}, {88, 208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{283, 120}, {232, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{232, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 2}, {82, 232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 120}, {258, 82}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{258, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 1036}, {258, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 120}, {290, 82}}</string>
			<key>spriteOffset</key>
			<string>{-12, -11}</string>
			<key>spriteSize</key>
			<string>{290, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 506}, {290, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{226, 120}, {310, 82}}</string>
			<key>spriteOffset</key>
			<string>{-19, -11}</string>
			<key>spriteSize</key>
			<string>{310, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 422}, {310, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 120}, {330, 82}}</string>
			<key>spriteOffset</key>
			<string>{-28, -11}</string>
			<key>spriteSize</key>
			<string>{330, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 338}, {330, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{191, 120}, {348, 82}}</string>
			<key>spriteOffset</key>
			<string>{-35, -11}</string>
			<key>spriteSize</key>
			<string>{348, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 86}, {348, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{175, 120}, {364, 82}}</string>
			<key>spriteOffset</key>
			<string>{-43, -11}</string>
			<key>spriteSize</key>
			<string>{364, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{540, 2}, {364, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 120}, {376, 82}}</string>
			<key>spriteOffset</key>
			<string>{-50, -11}</string>
			<key>spriteSize</key>
			<string>{376, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{932, 236}, {82, 376}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 120}, {386, 82}}</string>
			<key>spriteOffset</key>
			<string>{-54, -11}</string>
			<key>spriteSize</key>
			<string>{386, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 170}, {386, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{140, 120}, {398, 82}}</string>
			<key>spriteOffset</key>
			<string>{-61, -11}</string>
			<key>spriteSize</key>
			<string>{398, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 254}, {398, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 120}, {406, 82}}</string>
			<key>spriteOffset</key>
			<string>{-64, -11}</string>
			<key>spriteSize</key>
			<string>{406, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 744}, {406, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{124, 120}, {414, 82}}</string>
			<key>spriteOffset</key>
			<string>{-69, -11}</string>
			<key>spriteSize</key>
			<string>{414, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 660}, {414, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{120, 120}, {418, 82}}</string>
			<key>spriteOffset</key>
			<string>{-71, -11}</string>
			<key>spriteSize</key>
			<string>{418, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 828}, {418, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{116, 120}, {422, 82}}</string>
			<key>spriteOffset</key>
			<string>{-73, -11}</string>
			<key>spriteSize</key>
			<string>{422, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{512, 952}, {422, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 120}, {424, 82}}</string>
			<key>spriteOffset</key>
			<string>{-74, -11}</string>
			<key>spriteSize</key>
			<string>{424, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 952}, {424, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{113, 120}, {426, 82}}</string>
			<key>spriteOffset</key>
			<string>{-74, -11}</string>
			<key>spriteSize</key>
			<string>{426, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 744}, {426, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 492}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 868}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 170}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 1298}, {82, 428}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 868}, {82, 428}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 1382}, {82, 428}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1382}, {82, 428}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_24_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 408}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 324}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 2}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 576}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 86}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1298}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_24_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 120}, {428, 82}}</string>
			<key>spriteOffset</key>
			<string>{-75, -11}</string>
			<key>spriteSize</key>
			<string>{428, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 660}, {428, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>