<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_2_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 93}, {156, 106}}</string>
			<key>spriteOffset</key>
			<string>{-34, 4}</string>
			<key>spriteSize</key>
			<string>{156, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 2}, {156, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 85}, {152, 114}}</string>
			<key>spriteOffset</key>
			<string>{-36, 8}</string>
			<key>spriteSize</key>
			<string>{152, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 126}, {152, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 79}, {154, 120}}</string>
			<key>spriteOffset</key>
			<string>{-35, 11}</string>
			<key>spriteSize</key>
			<string>{154, 120}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 126}, {154, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 77}, {156, 122}}</string>
			<key>spriteOffset</key>
			<string>{-34, 12}</string>
			<key>spriteSize</key>
			<string>{156, 122}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {156, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 77}, {156, 122}}</string>
			<key>spriteOffset</key>
			<string>{-34, 12}</string>
			<key>spriteSize</key>
			<string>{156, 122}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{160, 2}, {156, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 79}, {156, 120}}</string>
			<key>spriteOffset</key>
			<string>{-34, 11}</string>
			<key>spriteSize</key>
			<string>{156, 120}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 2}, {156, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 85}, {156, 114}}</string>
			<key>spriteOffset</key>
			<string>{-34, 8}</string>
			<key>spriteSize</key>
			<string>{156, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 2}, {156, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 95}, {156, 104}}</string>
			<key>spriteOffset</key>
			<string>{-34, 3}</string>
			<key>spriteSize</key>
			<string>{156, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 2}, {156, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 106}, {156, 92}}</string>
			<key>spriteOffset</key>
			<string>{-34, -2}</string>
			<key>spriteSize</key>
			<string>{156, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 108}, {156, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 110}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 118}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 196}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 124}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 204}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 202}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{288, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-34, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 282}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{290, 114}, {156, 84}}</string>
			<key>spriteOffset</key>
			<string>{-32, -6}</string>
			<key>spriteSize</key>
			<string>{156, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{792, 288}, {156, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{296, 114}, {152, 84}}</string>
			<key>spriteOffset</key>
			<string>{-28, -6}</string>
			<key>spriteSize</key>
			<string>{152, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 210}, {152, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{301, 114}, {146, 84}}</string>
			<key>spriteOffset</key>
			<string>{-26, -6}</string>
			<key>spriteSize</key>
			<string>{146, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 242}, {146, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {140, 84}}</string>
			<key>spriteOffset</key>
			<string>{-25, -6}</string>
			<key>spriteSize</key>
			<string>{140, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 248}, {140, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {138, 84}}</string>
			<key>spriteOffset</key>
			<string>{-26, -6}</string>
			<key>spriteSize</key>
			<string>{138, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{466, 290}, {138, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 296}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 328}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 334}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 368}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 376}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{270, 382}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 414}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 420}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 374}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{858, 374}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 454}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 462}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 468}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 114}, {124, 84}}</string>
			<key>spriteOffset</key>
			<string>{-33, -6}</string>
			<key>spriteSize</key>
			<string>{124, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 500}, {124, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 114}, {122, 84}}</string>
			<key>spriteOffset</key>
			<string>{-31, -6}</string>
			<key>spriteSize</key>
			<string>{122, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 506}, {122, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{313, 114}, {116, 84}}</string>
			<key>spriteOffset</key>
			<string>{-29, -6}</string>
			<key>spriteSize</key>
			<string>{116, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{684, 460}, {116, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{324, 114}, {112, 88}}</string>
			<key>spriteOffset</key>
			<string>{-20, -8}</string>
			<key>spriteSize</key>
			<string>{112, 88}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{522, 540}, {112, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{344, 114}, {100, 88}}</string>
			<key>spriteOffset</key>
			<string>{-6, -8}</string>
			<key>spriteSize</key>
			<string>{100, 88}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 548}, {100, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 554}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 586}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 592}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 460}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{900, 460}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{636, 546}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 630}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 638}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 642}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 674}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 680}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 768}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 856}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 762}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 850}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{734, 548}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 634}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 718}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 726}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 730}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 548}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 818}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0062.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 906}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0063.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 814}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_2_0064.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 114}, {96, 86}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{96, 86}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{296, 902}, {96, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>