<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_25_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{155, 50}, {68, 50}}</string>
			<key>spriteOffset</key>
			<string>{-11, -0}</string>
			<key>spriteSize</key>
			<string>{68, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 2}, {68, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 42}, {72, 58}}</string>
			<key>spriteOffset</key>
			<string>{-10, 4}</string>
			<key>spriteSize</key>
			<string>{72, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 2}, {72, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 38}, {74, 62}}</string>
			<key>spriteOffset</key>
			<string>{-9, 6}</string>
			<key>spriteSize</key>
			<string>{74, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 2}, {74, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 36}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{-9, 7}</string>
			<key>spriteSize</key>
			<string>{76, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {76, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 56}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-13, -3}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 56}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{-14, -3}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 2}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 55}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-16, -2}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 48}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 51}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 68}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 52}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-18, -1}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 48}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 55}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -2}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 94}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 55}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -2}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 118}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{150, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 146}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 98}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 112}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 108}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 56}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-16, -3}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 66}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{151, 56}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-16, -3}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 54}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 55}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 62}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 55}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{440, 2}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-16, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 100}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 140}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 48}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 56}, {64, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{64, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 94}, {64, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 56}, {62, 44}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{62, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 154}, {62, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{156, 56}, {62, 44}}</string>
			<key>spriteOffset</key>
			<string>{-13, -3}</string>
			<key>spriteSize</key>
			<string>{62, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 158}, {62, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 56}, {60, 44}}</string>
			<key>spriteOffset</key>
			<string>{-12, -3}</string>
			<key>spriteSize</key>
			<string>{60, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 164}, {60, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{161, 56}, {60, 44}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{60, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{280, 186}, {60, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 55}, {60, 44}}</string>
			<key>spriteOffset</key>
			<string>{-5, -2}</string>
			<key>spriteSize</key>
			<string>{60, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 140}, {60, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{169, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{-2, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 246}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{174, 56}, {60, 44}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{60, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 144}, {60, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{180, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{9, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 204}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{186, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{15, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 236}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {56, 44}}</string>
			<key>spriteOffset</key>
			<string>{21, -3}</string>
			<key>spriteSize</key>
			<string>{56, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 292}, {56, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{62, 250}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 284}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 210}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 186}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 200}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 278}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 238}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 256}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 232}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{198, 192}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 190}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_25_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 56}, {58, 44}}</string>
			<key>spriteOffset</key>
			<string>{22, -3}</string>
			<key>spriteSize</key>
			<string>{58, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 232}, {58, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>