<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_11_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 115}, {170, 84}}</string>
			<key>spriteOffset</key>
			<string>{-3, -7}</string>
			<key>spriteSize</key>
			<string>{170, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 2}, {84, 170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{352, 117}, {166, 82}}</string>
			<key>spriteOffset</key>
			<string>{35, -8}</string>
			<key>spriteSize</key>
			<string>{166, 82}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 84}, {82, 166}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 122}, {146, 76}}</string>
			<key>spriteOffset</key>
			<string>{63, -10}</string>
			<key>spriteSize</key>
			<string>{146, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{798, 166}, {146, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {166, 76}}</string>
			<key>spriteOffset</key>
			<string>{73, -11}</string>
			<key>spriteSize</key>
			<string>{166, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 330}, {166, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {184, 78}}</string>
			<key>spriteOffset</key>
			<string>{82, -12}</string>
			<key>spriteSize</key>
			<string>{184, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 410}, {184, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {198, 78}}</string>
			<key>spriteOffset</key>
			<string>{89, -12}</string>
			<key>spriteSize</key>
			<string>{198, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 330}, {198, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {206, 76}}</string>
			<key>spriteOffset</key>
			<string>{93, -11}</string>
			<key>spriteSize</key>
			<string>{206, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 490}, {76, 206}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {216, 78}}</string>
			<key>spriteOffset</key>
			<string>{98, -12}</string>
			<key>spriteSize</key>
			<string>{216, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 166}, {216, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {226, 78}}</string>
			<key>spriteOffset</key>
			<string>{103, -12}</string>
			<key>spriteSize</key>
			<string>{226, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 84}, {78, 226}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {230, 80}}</string>
			<key>spriteOffset</key>
			<string>{105, -13}</string>
			<key>spriteSize</key>
			<string>{230, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 84}, {230, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {240, 80}}</string>
			<key>spriteOffset</key>
			<string>{110, -13}</string>
			<key>spriteSize</key>
			<string>{240, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 2}, {240, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 312}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 2}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 394}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 394}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 498}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{496, 248}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 330}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 744}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 166}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 394}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 84}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 576}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 494}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_11_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 252}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 248}, {80, 244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>death_11_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 123}, {244, 80}}</string>
			<key>spriteOffset</key>
			<string>{112, -13}</string>
			<key>spriteSize</key>
			<string>{244, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 84}, {244, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>