<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_12_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{299, 99}, {142, 100}}</string>
			<key>spriteOffset</key>
			<string>{-30, 1}</string>
			<key>spriteSize</key>
			<string>{142, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 780}, {142, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{311, 94}, {142, 104}}</string>
			<key>spriteOffset</key>
			<string>{-18, 4}</string>
			<key>spriteSize</key>
			<string>{142, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 794}, {142, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 96}, {136, 102}}</string>
			<key>spriteOffset</key>
			<string>{-9, 3}</string>
			<key>spriteSize</key>
			<string>{136, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 794}, {136, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{327, 101}, {142, 98}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{142, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 882}, {142, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{313, 103}, {168, 96}}</string>
			<key>spriteOffset</key>
			<string>{-3, -1}</string>
			<key>spriteSize</key>
			<string>{168, 96}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 780}, {168, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{300, 99}, {184, 100}}</string>
			<key>spriteOffset</key>
			<string>{-8, 1}</string>
			<key>spriteSize</key>
			<string>{184, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 898}, {184, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{295, 96}, {196, 102}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{196, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 900}, {196, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 97}, {206, 102}}</string>
			<key>spriteOffset</key>
			<string>{-11, 2}</string>
			<key>spriteSize</key>
			<string>{206, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 690}, {206, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{283, 98}, {210, 100}}</string>
			<key>spriteOffset</key>
			<string>{-12, 2}</string>
			<key>spriteSize</key>
			<string>{210, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 678}, {210, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{277, 98}, {214, 100}}</string>
			<key>spriteOffset</key>
			<string>{-16, 2}</string>
			<key>spriteSize</key>
			<string>{214, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{434, 580}, {214, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{277, 98}, {214, 100}}</string>
			<key>spriteOffset</key>
			<string>{-16, 2}</string>
			<key>spriteSize</key>
			<string>{214, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 576}, {214, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{277, 98}, {214, 112}}</string>
			<key>spriteOffset</key>
			<string>{-16, -4}</string>
			<key>spriteSize</key>
			<string>{214, 112}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 576}, {214, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 98}, {222, 104}}</string>
			<key>spriteOffset</key>
			<string>{-19, -0}</string>
			<key>spriteSize</key>
			<string>{222, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 540}, {222, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 98}, {226, 100}}</string>
			<key>spriteOffset</key>
			<string>{-21, 2}</string>
			<key>spriteSize</key>
			<string>{226, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 220}, {226, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 98}, {226, 102}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{226, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 194}, {226, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 98}, {228, 104}}</string>
			<key>spriteOffset</key>
			<string>{-22, -0}</string>
			<key>spriteSize</key>
			<string>{228, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{692, 114}, {228, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 98}, {228, 108}}</string>
			<key>spriteOffset</key>
			<string>{-22, -2}</string>
			<key>spriteSize</key>
			<string>{228, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 84}, {228, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 98}, {228, 110}}</string>
			<key>spriteOffset</key>
			<string>{-22, -3}</string>
			<key>spriteSize</key>
			<string>{228, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 82}, {228, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 98}, {228, 110}}</string>
			<key>spriteOffset</key>
			<string>{-22, -3}</string>
			<key>spriteSize</key>
			<string>{228, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 82}, {228, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{264, 98}, {228, 110}}</string>
			<key>spriteOffset</key>
			<string>{-22, -3}</string>
			<key>spriteSize</key>
			<string>{228, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 2}, {228, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 98}, {226, 110}}</string>
			<key>spriteOffset</key>
			<string>{-22, -3}</string>
			<key>spriteSize</key>
			<string>{226, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 194}, {226, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 98}, {226, 110}}</string>
			<key>spriteOffset</key>
			<string>{-21, -3}</string>
			<key>spriteSize</key>
			<string>{226, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 194}, {226, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{267, 98}, {224, 110}}</string>
			<key>spriteOffset</key>
			<string>{-21, -3}</string>
			<key>spriteSize</key>
			<string>{224, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 322}, {224, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 98}, {224, 108}}</string>
			<key>spriteOffset</key>
			<string>{-20, -2}</string>
			<key>spriteSize</key>
			<string>{224, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 306}, {224, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 99}, {224, 108}}</string>
			<key>spriteOffset</key>
			<string>{-20, -3}</string>
			<key>spriteSize</key>
			<string>{224, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 306}, {224, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 100}, {224, 106}}</string>
			<key>spriteOffset</key>
			<string>{-20, -3}</string>
			<key>spriteSize</key>
			<string>{224, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 392}, {224, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 103}, {224, 104}}</string>
			<key>spriteOffset</key>
			<string>{-20, -5}</string>
			<key>spriteSize</key>
			<string>{224, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{680, 434}, {224, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 115}, {226, 92}}</string>
			<key>spriteOffset</key>
			<string>{-19, -11}</string>
			<key>spriteSize</key>
			<string>{226, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 298}, {226, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 127}, {230, 80}}</string>
			<key>spriteOffset</key>
			<string>{-17, -17}</string>
			<key>spriteSize</key>
			<string>{230, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{470, 2}, {230, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {232, 78}}</string>
			<key>spriteOffset</key>
			<string>{-16, -18}</string>
			<key>spriteSize</key>
			<string>{232, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{236, 2}, {232, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {232, 78}}</string>
			<key>spriteOffset</key>
			<string>{-16, -18}</string>
			<key>spriteSize</key>
			<string>{232, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {232, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {224, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -18}</string>
			<key>spriteSize</key>
			<string>{224, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 500}, {224, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {224, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -18}</string>
			<key>spriteSize</key>
			<string>{224, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 496}, {224, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {224, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -18}</string>
			<key>spriteSize</key>
			<string>{224, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 496}, {224, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {224, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -18}</string>
			<key>spriteSize</key>
			<string>{224, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 416}, {224, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_12_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 129}, {224, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -18}</string>
			<key>spriteSize</key>
			<string>{224, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 416}, {224, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>