<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_4_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{286, 99}, {146, 100}}</string>
			<key>spriteOffset</key>
			<string>{-41, 1}</string>
			<key>spriteSize</key>
			<string>{146, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 224}, {146, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{283, 98}, {138, 100}}</string>
			<key>spriteOffset</key>
			<string>{-48, 2}</string>
			<key>spriteSize</key>
			<string>{138, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 2}, {138, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{280, 100}, {136, 98}}</string>
			<key>spriteOffset</key>
			<string>{-52, 1}</string>
			<key>spriteSize</key>
			<string>{136, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{548, 204}, {136, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{279, 101}, {140, 98}}</string>
			<key>spriteOffset</key>
			<string>{-51, -0}</string>
			<key>spriteSize</key>
			<string>{140, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 104}, {140, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{279, 101}, {144, 98}}</string>
			<key>spriteOffset</key>
			<string>{-49, -0}</string>
			<key>spriteSize</key>
			<string>{144, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{402, 206}, {144, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{279, 101}, {138, 98}}</string>
			<key>spriteOffset</key>
			<string>{-52, -0}</string>
			<key>spriteSize</key>
			<string>{138, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 2}, {138, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{277, 100}, {136, 98}}</string>
			<key>spriteOffset</key>
			<string>{-55, 1}</string>
			<key>spriteSize</key>
			<string>{136, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 102}, {136, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{276, 98}, {134, 100}}</string>
			<key>spriteOffset</key>
			<string>{-57, 2}</string>
			<key>spriteSize</key>
			<string>{134, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 2}, {134, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{276, 98}, {132, 100}}</string>
			<key>spriteOffset</key>
			<string>{-58, 2}</string>
			<key>spriteSize</key>
			<string>{132, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 104}, {132, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{276, 98}, {128, 100}}</string>
			<key>spriteOffset</key>
			<string>{-60, 2}</string>
			<key>spriteSize</key>
			<string>{128, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 2}, {128, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{273, 99}, {130, 100}}</string>
			<key>spriteOffset</key>
			<string>{-62, 1}</string>
			<key>spriteSize</key>
			<string>{130, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 104}, {130, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 100}, {134, 98}}</string>
			<key>spriteOffset</key>
			<string>{-65, 1}</string>
			<key>spriteSize</key>
			<string>{134, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 76}, {134, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 106}, {138, 92}}</string>
			<key>spriteOffset</key>
			<string>{-66, -2}</string>
			<key>spriteSize</key>
			<string>{138, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 326}, {138, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{267, 111}, {136, 88}}</string>
			<key>spriteOffset</key>
			<string>{-65, -5}</string>
			<key>spriteSize</key>
			<string>{136, 88}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 420}, {136, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 123}, {132, 76}}</string>
			<key>spriteOffset</key>
			<string>{-64, -11}</string>
			<key>spriteSize</key>
			<string>{132, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 202}, {132, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 126}, {132, 72}}</string>
			<key>spriteOffset</key>
			<string>{-64, -12}</string>
			<key>spriteSize</key>
			<string>{132, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 378}, {132, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 126}, {136, 72}}</string>
			<key>spriteOffset</key>
			<string>{-66, -12}</string>
			<key>spriteSize</key>
			<string>{136, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 510}, {136, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 126}, {160, 72}}</string>
			<key>spriteOffset</key>
			<string>{-77, -12}</string>
			<key>spriteSize</key>
			<string>{160, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 446}, {160, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{228, 126}, {174, 72}}</string>
			<key>spriteOffset</key>
			<string>{-85, -12}</string>
			<key>spriteSize</key>
			<string>{174, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{820, 176}, {174, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 126}, {196, 72}}</string>
			<key>spriteOffset</key>
			<string>{-95, -12}</string>
			<key>spriteSize</key>
			<string>{196, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{800, 2}, {196, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 126}, {208, 72}}</string>
			<key>spriteOffset</key>
			<string>{-102, -12}</string>
			<key>spriteSize</key>
			<string>{208, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 372}, {208, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{184, 126}, {218, 72}}</string>
			<key>spriteOffset</key>
			<string>{-107, -12}</string>
			<key>spriteSize</key>
			<string>{218, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 298}, {218, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{174, 126}, {228, 72}}</string>
			<key>spriteOffset</key>
			<string>{-112, -12}</string>
			<key>spriteSize</key>
			<string>{228, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 306}, {228, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 126}, {238, 72}}</string>
			<key>spriteOffset</key>
			<string>{-116, -12}</string>
			<key>spriteSize</key>
			<string>{238, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 602}, {238, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{159, 126}, {244, 72}}</string>
			<key>spriteOffset</key>
			<string>{-119, -12}</string>
			<key>spriteSize</key>
			<string>{244, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 602}, {244, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 126}, {248, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{248, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 602}, {248, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{738, 378}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 454}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 150}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 76}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 304}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 528}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 380}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 224}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 528}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 528}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_4_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{153, 126}, {250, 72}}</string>
			<key>spriteOffset</key>
			<string>{-122, -12}</string>
			<key>spriteSize</key>
			<string>{250, 72}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 454}, {250, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>