<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_31_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{149, 32}, {102, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 9}</string>
			<key>spriteSize</key>
			<string>{102, 68}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 136}, {102, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{134, 18}, {134, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{134, 84}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 2}, {134, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{128, 12}, {146, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, 17}</string>
			<key>spriteSize</key>
			<string>{146, 92}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 2}, {146, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{128, 11}, {148, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, 17}</string>
			<key>spriteSize</key>
			<string>{148, 94}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {148, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{136, 44}, {100, 56}}</string>
			<key>spriteOffset</key>
			<string>{-14, 3}</string>
			<key>spriteSize</key>
			<string>{100, 56}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 158}, {100, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{134, 43}, {102, 58}}</string>
			<key>spriteOffset</key>
			<string>{-15, 3}</string>
			<key>spriteSize</key>
			<string>{102, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 96}, {102, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 43}, {102, 58}}</string>
			<key>spriteOffset</key>
			<string>{-16, 3}</string>
			<key>spriteSize</key>
			<string>{102, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 148}, {102, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{132, 42}, {104, 58}}</string>
			<key>spriteOffset</key>
			<string>{-16, 4}</string>
			<key>spriteSize</key>
			<string>{104, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 88}, {104, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 43}, {102, 58}}</string>
			<key>spriteOffset</key>
			<string>{-16, 3}</string>
			<key>spriteSize</key>
			<string>{102, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 98}, {102, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{135, 41}, {100, 60}}</string>
			<key>spriteOffset</key>
			<string>{-15, 4}</string>
			<key>spriteSize</key>
			<string>{100, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 156}, {100, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 40}, {98, 60}}</string>
			<key>spriteOffset</key>
			<string>{-14, 5}</string>
			<key>spriteSize</key>
			<string>{98, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 216}, {98, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{141, 40}, {94, 60}}</string>
			<key>spriteOffset</key>
			<string>{-12, 5}</string>
			<key>spriteSize</key>
			<string>{94, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 206}, {94, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 39}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{-9, 5}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 208}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 38}, {84, 62}}</string>
			<key>spriteOffset</key>
			<string>{-6, 6}</string>
			<key>spriteSize</key>
			<string>{84, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 218}, {84, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 38}, {76, 62}}</string>
			<key>spriteOffset</key>
			<string>{-2, 6}</string>
			<key>spriteSize</key>
			<string>{76, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 282}, {76, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 37}, {68, 64}}</string>
			<key>spriteOffset</key>
			<string>{2, 6}</string>
			<key>spriteSize</key>
			<string>{68, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 888}, {68, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 37}, {72, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 6}</string>
			<key>spriteSize</key>
			<string>{72, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 346}, {72, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 36}, {74, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 7}</string>
			<key>spriteSize</key>
			<string>{74, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 70}, {74, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 36}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{-2, 7}</string>
			<key>spriteSize</key>
			<string>{76, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 268}, {76, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 36}, {76, 64}}</string>
			<key>spriteOffset</key>
			<string>{-2, 7}</string>
			<key>spriteSize</key>
			<string>{76, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 272}, {76, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{160, 35}, {76, 66}}</string>
			<key>spriteOffset</key>
			<string>{-2, 7}</string>
			<key>spriteSize</key>
			<string>{76, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 278}, {76, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 35}, {74, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 7}</string>
			<key>spriteSize</key>
			<string>{74, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{436, 2}, {74, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 35}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 336}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 540}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 35}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{76, 346}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 35}, {72, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{72, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 338}, {72, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{163, 35}, {72, 66}}</string>
			<key>spriteOffset</key>
			<string>{-1, 7}</string>
			<key>spriteSize</key>
			<string>{72, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 268}, {72, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 34}, {72, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 8}</string>
			<key>spriteSize</key>
			<string>{72, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 334}, {72, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 34}, {70, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, 8}</string>
			<key>spriteSize</key>
			<string>{70, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 412}, {70, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 752}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 608}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 542}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 550}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 472}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 404}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 820}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 472}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{428, 472}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 402}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 610}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 404}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 538}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 618}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 684}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 406}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 674}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 404}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 540}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 470}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 686}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{412, 336}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 540}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 34}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 8}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 608}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 480}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 414}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 482}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 678}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 548}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{212, 606}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 608}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 616}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{168, 35}, {68, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, 7}</string>
			<key>spriteSize</key>
			<string>{68, 66}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 474}, {68, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00062.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{170, 64}, {48, 36}}</string>
			<key>spriteOffset</key>
			<string>{-6, -7}</string>
			<key>spriteSize</key>
			<string>{48, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 206}, {48, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>