<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_23_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{278, 95}, {184, 104}}</string>
			<key>spriteOffset</key>
			<string>{-30, 3}</string>
			<key>spriteSize</key>
			<string>{184, 104}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 896}, {184, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{274, 92}, {202, 106}}</string>
			<key>spriteOffset</key>
			<string>{-25, 5}</string>
			<key>spriteSize</key>
			<string>{202, 106}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{438, 788}, {202, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{271, 87}, {208, 112}}</string>
			<key>spriteOffset</key>
			<string>{-25, 7}</string>
			<key>spriteSize</key>
			<string>{208, 112}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 818}, {208, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 83}, {224, 116}}</string>
			<key>spriteOffset</key>
			<string>{-20, 9}</string>
			<key>spriteSize</key>
			<string>{224, 116}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 818}, {224, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 81}, {236, 118}}</string>
			<key>spriteOffset</key>
			<string>{-16, 10}</string>
			<key>spriteSize</key>
			<string>{236, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 698}, {236, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 80}, {256, 118}}</string>
			<key>spriteOffset</key>
			<string>{-6, 11}</string>
			<key>spriteSize</key>
			<string>{256, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 578}, {256, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 80}, {268, 118}}</string>
			<key>spriteOffset</key>
			<string>{4, 11}</string>
			<key>spriteSize</key>
			<string>{268, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 458}, {268, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 81}, {286, 118}}</string>
			<key>spriteOffset</key>
			<string>{8, 10}</string>
			<key>spriteSize</key>
			<string>{286, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 338}, {286, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{253, 82}, {306, 116}}</string>
			<key>spriteOffset</key>
			<string>{6, 10}</string>
			<key>spriteSize</key>
			<string>{306, 116}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 220}, {306, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{249, 87}, {312, 112}}</string>
			<key>spriteOffset</key>
			<string>{5, 7}</string>
			<key>spriteSize</key>
			<string>{312, 112}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 106}, {312, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{247, 97}, {318, 102}}</string>
			<key>spriteOffset</key>
			<string>{6, 2}</string>
			<key>spriteSize</key>
			<string>{318, 102}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 2}, {318, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{247, 114}, {326, 84}}</string>
			<key>spriteOffset</key>
			<string>{10, -6}</string>
			<key>spriteSize</key>
			<string>{326, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 478}, {326, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{234, 131}, {340, 68}}</string>
			<key>spriteOffset</key>
			<string>{4, -15}</string>
			<key>spriteSize</key>
			<string>{340, 68}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 718}, {340, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{230, 140}, {344, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -19}</string>
			<key>spriteSize</key>
			<string>{344, 58}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 578}, {344, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{230, 143}, {344, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -21}</string>
			<key>spriteSize</key>
			<string>{344, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 660}, {344, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{230, 144}, {344, 54}}</string>
			<key>spriteOffset</key>
			<string>{2, -21}</string>
			<key>spriteSize</key>
			<string>{344, 54}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 696}, {344, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 144}, {346, 54}}</string>
			<key>spriteOffset</key>
			<string>{2, -21}</string>
			<key>spriteSize</key>
			<string>{346, 54}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 604}, {346, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{230, 142}, {344, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -20}</string>
			<key>spriteSize</key>
			<string>{344, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 638}, {344, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 140}, {346, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -19}</string>
			<key>spriteSize</key>
			<string>{346, 58}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 544}, {346, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 135}, {346, 64}}</string>
			<key>spriteOffset</key>
			<string>{2, -17}</string>
			<key>spriteSize</key>
			<string>{346, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{330, 478}, {346, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 133}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 70}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 410}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 206}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 410}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 342}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 138}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 274}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 70}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 133}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 133}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 138}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 133}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 206}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 133}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -16}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 342}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 274}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 132}, {346, 66}}</string>
			<key>spriteOffset</key>
			<string>{2, -15}</string>
			<key>spriteSize</key>
			<string>{346, 66}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 2}, {346, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>