<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_29_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{131, 40}, {92, 60}}</string>
			<key>spriteOffset</key>
			<string>{-23, 5}</string>
			<key>spriteSize</key>
			<string>{92, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 354}, {92, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{125, 37}, {102, 62}}</string>
			<key>spriteOffset</key>
			<string>{-24, 7}</string>
			<key>spriteSize</key>
			<string>{102, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 416}, {102, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{118, 37}, {116, 64}}</string>
			<key>spriteOffset</key>
			<string>{-24, 6}</string>
			<key>spriteSize</key>
			<string>{116, 64}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 570}, {116, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{112, 39}, {128, 62}}</string>
			<key>spriteOffset</key>
			<string>{-24, 5}</string>
			<key>spriteSize</key>
			<string>{128, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 556}, {128, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{106, 41}, {142, 60}}</string>
			<key>spriteOffset</key>
			<string>{-23, 4}</string>
			<key>spriteSize</key>
			<string>{142, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 526}, {142, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{100, 49}, {154, 52}}</string>
			<key>spriteOffset</key>
			<string>{-23, -0}</string>
			<key>spriteSize</key>
			<string>{154, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 516}, {154, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{104, 56}, {156, 44}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{156, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 510}, {156, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{107, 57}, {152, 44}}</string>
			<key>spriteOffset</key>
			<string>{-17, -4}</string>
			<key>spriteSize</key>
			<string>{152, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{358, 480}, {152, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{102, 55}, {162, 46}}</string>
			<key>spriteOffset</key>
			<string>{-17, -3}</string>
			<key>spriteSize</key>
			<string>{162, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 468}, {162, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 50}, {172, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -0}</string>
			<key>spriteSize</key>
			<string>{172, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 458}, {172, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{90, 46}, {180, 54}}</string>
			<key>spriteOffset</key>
			<string>{-20, 2}</string>
			<key>spriteSize</key>
			<string>{180, 54}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 412}, {180, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{84, 47}, {192, 54}}</string>
			<key>spriteOffset</key>
			<string>{-20, 1}</string>
			<key>spriteSize</key>
			<string>{192, 54}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 402}, {192, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 50}, {200, 50}}</string>
			<key>spriteOffset</key>
			<string>{-22, -0}</string>
			<key>spriteSize</key>
			<string>{200, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 360}, {200, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{78, 54}, {202, 46}}</string>
			<key>spriteOffset</key>
			<string>{-21, -2}</string>
			<key>spriteSize</key>
			<string>{202, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{210, 354}, {202, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{79, 55}, {206, 46}}</string>
			<key>spriteOffset</key>
			<string>{-18, -3}</string>
			<key>spriteSize</key>
			<string>{206, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 312}, {206, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{76, 54}, {212, 46}}</string>
			<key>spriteOffset</key>
			<string>{-18, -2}</string>
			<key>spriteSize</key>
			<string>{212, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 306}, {212, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{74, 51}, {216, 50}}</string>
			<key>spriteOffset</key>
			<string>{-18, -1}</string>
			<key>spriteSize</key>
			<string>{216, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 260}, {216, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{71, 52}, {220, 48}}</string>
			<key>spriteOffset</key>
			<string>{-19, -1}</string>
			<key>spriteSize</key>
			<string>{220, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 256}, {220, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{69, 52}, {224, 48}}</string>
			<key>spriteOffset</key>
			<string>{-19, -1}</string>
			<key>spriteSize</key>
			<string>{224, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 40}, {224, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 54}, {224, 46}}</string>
			<key>spriteOffset</key>
			<string>{-21, -2}</string>
			<key>spriteSize</key>
			<string>{224, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 48}, {224, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{64, 57}, {228, 44}}</string>
			<key>spriteOffset</key>
			<string>{-22, -4}</string>
			<key>spriteSize</key>
			<string>{228, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {228, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{65, 65}, {226, 36}}</string>
			<key>spriteOffset</key>
			<string>{-22, -8}</string>
			<key>spriteSize</key>
			<string>{226, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 2}, {226, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{67, 72}, {224, 28}}</string>
			<key>spriteOffset</key>
			<string>{-21, -11}</string>
			<key>spriteSize</key>
			<string>{224, 28}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 230}, {224, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 30}}</string>
			<key>spriteOffset</key>
			<string>{-20, -12}</string>
			<key>spriteSize</key>
			<string>{224, 30}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 224}, {224, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 30}}</string>
			<key>spriteOffset</key>
			<string>{-20, -12}</string>
			<key>spriteSize</key>
			<string>{224, 30}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 198}, {224, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 96}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 90}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 30}}</string>
			<key>spriteOffset</key>
			<string>{-20, -12}</string>
			<key>spriteSize</key>
			<string>{224, 30}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 192}, {224, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 130}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 124}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 164}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_29_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{68, 72}, {224, 32}}</string>
			<key>spriteOffset</key>
			<string>{-20, -13}</string>
			<key>spriteSize</key>
			<string>{224, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 158}, {224, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 1024}</string>
	</dict>
</dict>
</plist>