<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_26_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{263, 76}, {174, 122}}</string>
			<key>spriteOffset</key>
			<string>{-50, 13}</string>
			<key>spriteSize</key>
			<string>{174, 122}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 152}, {174, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{252, 57}, {202, 142}}</string>
			<key>spriteOffset</key>
			<string>{-47, 22}</string>
			<key>spriteSize</key>
			<string>{202, 142}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 176}, {202, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{243, 40}, {220, 158}}</string>
			<key>spriteOffset</key>
			<string>{-47, 31}</string>
			<key>spriteSize</key>
			<string>{220, 158}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 174}, {220, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{235, 29}, {230, 170}}</string>
			<key>spriteOffset</key>
			<string>{-50, 36}</string>
			<key>spriteSize</key>
			<string>{230, 170}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {230, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{229, 26}, {214, 172}}</string>
			<key>spriteOffset</key>
			<string>{-64, 38}</string>
			<key>spriteSize</key>
			<string>{214, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 508}, {214, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{224, 23}, {218, 176}}</string>
			<key>spriteOffset</key>
			<string>{-67, 39}</string>
			<key>spriteSize</key>
			<string>{218, 176}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 334}, {218, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{221, 23}, {220, 176}}</string>
			<key>spriteOffset</key>
			<string>{-69, 39}</string>
			<key>spriteSize</key>
			<string>{220, 176}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 174}, {220, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{222, 26}, {218, 172}}</string>
			<key>spriteOffset</key>
			<string>{-69, 38}</string>
			<key>spriteSize</key>
			<string>{218, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 352}, {218, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{222, 26}, {216, 172}}</string>
			<key>spriteOffset</key>
			<string>{-70, 38}</string>
			<key>spriteSize</key>
			<string>{216, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{632, 2}, {216, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{223, 26}, {214, 172}}</string>
			<key>spriteOffset</key>
			<string>{-70, 38}</string>
			<key>spriteSize</key>
			<string>{214, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 526}, {214, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{223, 27}, {216, 172}}</string>
			<key>spriteOffset</key>
			<string>{-69, 37}</string>
			<key>spriteSize</key>
			<string>{216, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 334}, {216, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{234, 34}, {206, 164}}</string>
			<key>spriteOffset</key>
			<string>{-63, 34}</string>
			<key>spriteSize</key>
			<string>{206, 164}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 2}, {206, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{251, 51}, {188, 148}}</string>
			<key>spriteOffset</key>
			<string>{-55, 25}</string>
			<key>spriteSize</key>
			<string>{188, 148}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 2}, {188, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{275, 78}, {160, 120}}</string>
			<key>spriteOffset</key>
			<string>{-45, 12}</string>
			<key>spriteSize</key>
			<string>{160, 120}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 526}, {160, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 101}, {124, 98}}</string>
			<key>spriteOffset</key>
			<string>{-33, -0}</string>
			<key>spriteSize</key>
			<string>{124, 98}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 320}, {124, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{309, 114}, {122, 84}}</string>
			<key>spriteOffset</key>
			<string>{-30, -6}</string>
			<key>spriteSize</key>
			<string>{122, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 420}, {122, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{313, 120}, {134, 78}}</string>
			<key>spriteOffset</key>
			<string>{-20, -9}</string>
			<key>spriteSize</key>
			<string>{134, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 700}, {134, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{316, 122}, {136, 76}}</string>
			<key>spriteOffset</key>
			<string>{-16, -10}</string>
			<key>spriteSize</key>
			<string>{136, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{218, 648}, {136, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{316, 124}, {126, 74}}</string>
			<key>spriteOffset</key>
			<string>{-21, -11}</string>
			<key>spriteSize</key>
			<string>{126, 74}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 776}, {126, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{316, 123}, {116, 76}}</string>
			<key>spriteOffset</key>
			<string>{-26, -11}</string>
			<key>spriteSize</key>
			<string>{116, 76}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 96}, {116, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{312, 119}, {120, 80}}</string>
			<key>spriteOffset</key>
			<string>{-28, -9}</string>
			<key>spriteSize</key>
			<string>{120, 80}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 698}, {120, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{308, 115}, {128, 84}}</string>
			<key>spriteOffset</key>
			<string>{-28, -7}</string>
			<key>spriteSize</key>
			<string>{128, 84}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 416}, {128, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 107}, {130, 92}}</string>
			<key>spriteOffset</key>
			<string>{-31, -3}</string>
			<key>spriteSize</key>
			<string>{130, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 682}, {130, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 104}, {132, 94}}</string>
			<key>spriteOffset</key>
			<string>{-30, -1}</string>
			<key>spriteSize</key>
			<string>{132, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{826, 176}, {132, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 104}, {132, 94}}</string>
			<key>spriteOffset</key>
			<string>{-30, -1}</string>
			<key>spriteSize</key>
			<string>{132, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 320}, {132, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 105}, {132, 94}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 94}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 508}, {132, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 106}, {132, 92}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 726}, {132, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 106}, {132, 92}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{660, 604}, {132, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 106}, {132, 92}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{850, 2}, {132, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 106}, {132, 92}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 682}, {132, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{304, 106}, {132, 92}}</string>
			<key>spriteOffset</key>
			<string>{-30, -2}</string>
			<key>spriteSize</key>
			<string>{132, 92}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 780}, {132, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>