<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_10_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 49}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, 1}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 49}, {78, 50}}</string>
			<key>spriteOffset</key>
			<string>{-17, 1}</string>
			<key>spriteSize</key>
			<string>{78, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 54}, {78, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 52}, {78, 48}}</string>
			<key>spriteOffset</key>
			<string>{-16, -1}</string>
			<key>spriteSize</key>
			<string>{78, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 2}, {78, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{148, 55}, {76, 44}}</string>
			<key>spriteOffset</key>
			<string>{-14, -2}</string>
			<key>spriteSize</key>
			<string>{76, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 210}, {76, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 55}, {72, 44}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{72, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 210}, {72, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 55}, {66, 44}}</string>
			<key>spriteOffset</key>
			<string>{-3, -2}</string>
			<key>spriteSize</key>
			<string>{66, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 210}, {66, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{179, 55}, {56, 46}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{56, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 2}, {56, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {50, 46}}</string>
			<key>spriteOffset</key>
			<string>{12, -3}</string>
			<key>spriteSize</key>
			<string>{50, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 104}, {50, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 48}}</string>
			<key>spriteOffset</key>
			<string>{14, -4}</string>
			<key>spriteSize</key>
			<string>{54, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 102}, {54, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{58, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 2}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 54}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 2}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 54}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 2}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 54}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 2}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 54}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 106}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 158}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 2}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 54}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 50}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_10_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{187, 55}, {54, 50}}</string>
			<key>spriteOffset</key>
			<string>{14, -5}</string>
			<key>spriteSize</key>
			<string>{54, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 52}, {54, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>