<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_26_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{132, 37}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-25, 7}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 342}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{126, 28}, {102, 72}}</string>
			<key>spriteOffset</key>
			<string>{-23, 11}</string>
			<key>spriteSize</key>
			<string>{102, 72}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 268}, {102, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{121, 20}, {110, 80}}</string>
			<key>spriteOffset</key>
			<string>{-24, 15}</string>
			<key>spriteSize</key>
			<string>{110, 80}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 90}, {110, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 14}, {116, 86}}</string>
			<key>spriteOffset</key>
			<string>{-25, 18}</string>
			<key>spriteSize</key>
			<string>{116, 86}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {116, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 12}, {108, 88}}</string>
			<key>spriteOffset</key>
			<string>{-32, 19}</string>
			<key>spriteSize</key>
			<string>{108, 88}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 172}, {108, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{112, 11}, {110, 88}}</string>
			<key>spriteOffset</key>
			<string>{-33, 20}</string>
			<key>spriteSize</key>
			<string>{110, 88}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 90}, {110, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{110, 11}, {110, 88}}</string>
			<key>spriteOffset</key>
			<string>{-35, 20}</string>
			<key>spriteSize</key>
			<string>{110, 88}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 90}, {110, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 13}, {110, 86}}</string>
			<key>spriteOffset</key>
			<string>{-34, 19}</string>
			<key>spriteSize</key>
			<string>{110, 86}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 2}, {110, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 13}, {108, 86}}</string>
			<key>spriteOffset</key>
			<string>{-35, 19}</string>
			<key>spriteSize</key>
			<string>{108, 86}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 180}, {108, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 13}, {108, 86}}</string>
			<key>spriteOffset</key>
			<string>{-35, 19}</string>
			<key>spriteSize</key>
			<string>{108, 86}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 2}, {108, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{111, 13}, {108, 86}}</string>
			<key>spriteOffset</key>
			<string>{-35, 19}</string>
			<key>spriteSize</key>
			<string>{108, 86}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 180}, {108, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 17}, {104, 82}}</string>
			<key>spriteOffset</key>
			<string>{-31, 17}</string>
			<key>spriteSize</key>
			<string>{104, 82}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 262}, {104, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{125, 26}, {96, 74}}</string>
			<key>spriteOffset</key>
			<string>{-27, 12}</string>
			<key>spriteSize</key>
			<string>{96, 74}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 342}, {96, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 39}, {82, 60}}</string>
			<key>spriteOffset</key>
			<string>{-22, 6}</string>
			<key>spriteSize</key>
			<string>{82, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 268}, {82, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 51}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-16, -0}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 90}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 57}, {62, 42}}</string>
			<key>spriteOffset</key>
			<string>{-15, -3}</string>
			<key>spriteSize</key>
			<string>{62, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 394}, {62, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{156, 60}, {68, 40}}</string>
			<key>spriteOffset</key>
			<string>{-10, -5}</string>
			<key>spriteSize</key>
			<string>{68, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 312}, {68, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 61}, {68, 38}}</string>
			<key>spriteOffset</key>
			<string>{-8, -5}</string>
			<key>spriteSize</key>
			<string>{68, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 50}, {68, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 62}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{-10, -6}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 222}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{158, 61}, {58, 38}}</string>
			<key>spriteOffset</key>
			<string>{-13, -5}</string>
			<key>spriteSize</key>
			<string>{58, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 262}, {58, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{156, 59}, {60, 40}}</string>
			<key>spriteOffset</key>
			<string>{-14, -4}</string>
			<key>spriteSize</key>
			<string>{60, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 354}, {60, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{154, 57}, {64, 42}}</string>
			<key>spriteOffset</key>
			<string>{-14, -3}</string>
			<key>spriteSize</key>
			<string>{64, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 418}, {64, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 54}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -2}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 406}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 52}, {66, 48}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 172}, {66, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 52}, {68, 48}}</string>
			<key>spriteOffset</key>
			<string>{-14, -1}</string>
			<key>spriteSize</key>
			<string>{68, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 262}, {68, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 2}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 346}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 2}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{324, 354}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 346}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_26_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{152, 53}, {66, 46}}</string>
			<key>spriteOffset</key>
			<string>{-15, -1}</string>
			<key>spriteSize</key>
			<string>{66, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 394}, {66, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>