<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_31_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{298, 65}, {204, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, 18}</string>
			<key>spriteSize</key>
			<string>{204, 134}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 262}, {204, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{269, 37}, {268, 166}}</string>
			<key>spriteOffset</key>
			<string>{3, 30}</string>
			<key>spriteSize</key>
			<string>{268, 166}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 2}, {268, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{257, 24}, {292, 184}}</string>
			<key>spriteOffset</key>
			<string>{3, 34}</string>
			<key>spriteSize</key>
			<string>{292, 184}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 2}, {292, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{256, 23}, {296, 186}}</string>
			<key>spriteOffset</key>
			<string>{4, 34}</string>
			<key>spriteSize</key>
			<string>{296, 186}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {296, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{272, 89}, {198, 110}}</string>
			<key>spriteOffset</key>
			<string>{-29, 6}</string>
			<key>spriteSize</key>
			<string>{198, 110}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 304}, {198, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{268, 87}, {202, 112}}</string>
			<key>spriteOffset</key>
			<string>{-31, 7}</string>
			<key>spriteSize</key>
			<string>{202, 112}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 190}, {202, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 86}, {204, 114}}</string>
			<key>spriteOffset</key>
			<string>{-32, 7}</string>
			<key>spriteSize</key>
			<string>{204, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 188}, {204, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{265, 85}, {206, 114}}</string>
			<key>spriteOffset</key>
			<string>{-32, 8}</string>
			<key>spriteSize</key>
			<string>{206, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{594, 170}, {206, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{266, 86}, {204, 114}}</string>
			<key>spriteOffset</key>
			<string>{-32, 7}</string>
			<key>spriteSize</key>
			<string>{204, 114}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{506, 286}, {204, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{270, 83}, {200, 116}}</string>
			<key>spriteOffset</key>
			<string>{-30, 9}</string>
			<key>spriteSize</key>
			<string>{200, 116}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{712, 398}, {200, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{275, 81}, {196, 118}}</string>
			<key>spriteOffset</key>
			<string>{-27, 10}</string>
			<key>spriteSize</key>
			<string>{196, 118}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 304}, {196, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{283, 79}, {188, 120}}</string>
			<key>spriteOffset</key>
			<string>{-23, 11}</string>
			<key>spriteSize</key>
			<string>{188, 120}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 416}, {188, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 78}, {178, 122}}</string>
			<key>spriteOffset</key>
			<string>{-18, 11}</string>
			<key>spriteSize</key>
			<string>{178, 122}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 402}, {178, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 76}, {166, 124}}</string>
			<key>spriteOffset</key>
			<string>{-12, 12}</string>
			<key>spriteSize</key>
			<string>{166, 124}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{192, 424}, {166, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{320, 76}, {150, 124}}</string>
			<key>spriteOffset</key>
			<string>{-5, 12}</string>
			<key>spriteSize</key>
			<string>{150, 124}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 516}, {150, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 74}, {134, 126}}</string>
			<key>spriteOffset</key>
			<string>{3, 13}</string>
			<key>spriteSize</key>
			<string>{134, 126}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 1176}, {134, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{329, 74}, {142, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 13}</string>
			<key>spriteSize</key>
			<string>{142, 126}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{508, 642}, {142, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{324, 73}, {146, 126}}</string>
			<key>spriteOffset</key>
			<string>{-3, 14}</string>
			<key>spriteSize</key>
			<string>{146, 126}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 550}, {146, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{320, 72}, {150, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, 14}</string>
			<key>spriteSize</key>
			<string>{150, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 2}, {150, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{320, 72}, {150, 128}}</string>
			<key>spriteOffset</key>
			<string>{-5, 14}</string>
			<key>spriteSize</key>
			<string>{150, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{864, 132}, {150, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{321, 71}, {150, 128}}</string>
			<key>spriteOffset</key>
			<string>{-4, 15}</string>
			<key>spriteSize</key>
			<string>{150, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 538}, {150, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{324, 71}, {146, 128}}</string>
			<key>spriteOffset</key>
			<string>{-3, 15}</string>
			<key>spriteSize</key>
			<string>{146, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 526}, {146, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{330, 71}, {140, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{140, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 656}, {140, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 71}, {134, 128}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{134, 128}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{682, 1176}, {134, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{332, 70}, {138, 130}}</string>
			<key>spriteOffset</key>
			<string>{1, 15}</string>
			<key>spriteSize</key>
			<string>{138, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 800}, {138, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{328, 70}, {142, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, 15}</string>
			<key>spriteSize</key>
			<string>{142, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 516}, {142, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{327, 70}, {144, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, 15}</string>
			<key>spriteSize</key>
			<string>{144, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 668}, {144, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{328, 69}, {142, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, 16}</string>
			<key>spriteSize</key>
			<string>{142, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{876, 516}, {142, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{333, 69}, {138, 130}}</string>
			<key>spriteOffset</key>
			<string>{2, 16}</string>
			<key>spriteSize</key>
			<string>{138, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{148, 678}, {138, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{788, 648}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{278, 918}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{822, 1044}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1064}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 932}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 1182}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 1034}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 1314}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 1074}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{652, 648}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 786}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 1206}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1328}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{142, 810}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{550, 1044}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 902}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{696, 912}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 1050}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 780}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{832, 912}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00049.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 1166}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00050.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1196}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00051.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 780}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00052.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 1298}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00053.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 942}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00054.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{686, 1044}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00055.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 770}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00056.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 1338}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00057.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 69}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 16}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{852, 780}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00058.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 70}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 1176}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00059.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 70}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{560, 912}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00060.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{336, 70}, {134, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{134, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1460}, {134, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00061.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{337, 70}, {132, 130}}</string>
			<key>spriteOffset</key>
			<string>{3, 15}</string>
			<key>spriteSize</key>
			<string>{132, 130}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 1304}, {132, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_31_00062.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{340, 129}, {94, 70}}</string>
			<key>spriteOffset</key>
			<string>{-13, -14}</string>
			<key>spriteSize</key>
			<string>{94, 70}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{914, 398}, {94, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>