<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_9_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {76, 52}}</string>
			<key>spriteOffset</key>
			<string>{-19, 1}</string>
			<key>spriteSize</key>
			<string>{76, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {76, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 49}, {74, 52}}</string>
			<key>spriteOffset</key>
			<string>{-19, -0}</string>
			<key>spriteSize</key>
			<string>{74, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 56}, {74, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 52}, {74, 48}}</string>
			<key>spriteOffset</key>
			<string>{-19, -1}</string>
			<key>spriteSize</key>
			<string>{74, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 56}, {74, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 52}, {70, 48}}</string>
			<key>spriteOffset</key>
			<string>{-20, -1}</string>
			<key>spriteSize</key>
			<string>{70, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {70, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 52}, {66, 48}}</string>
			<key>spriteOffset</key>
			<string>{-21, -1}</string>
			<key>spriteSize</key>
			<string>{66, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{154, 56}, {66, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 52}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-22, -1}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 56}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 50}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-22, -0}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 262}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 48}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 160}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 47}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-23, 2}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 208}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 47}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-24, 2}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 160}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-24, 1}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 160}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-24, 1}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 2}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 49}, {68, 50}}</string>
			<key>spriteOffset</key>
			<string>{-23, 1}</string>
			<key>spriteSize</key>
			<string>{68, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 156}, {68, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 49}, {68, 50}}</string>
			<key>spriteOffset</key>
			<string>{-23, 1}</string>
			<key>spriteSize</key>
			<string>{68, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 104}, {68, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {68, 52}}</string>
			<key>spriteOffset</key>
			<string>{-23, 1}</string>
			<key>spriteSize</key>
			<string>{68, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{224, 2}, {68, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {70, 52}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{70, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 2}, {70, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {70, 52}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{70, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 106}, {70, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {70, 52}}</string>
			<key>spriteOffset</key>
			<string>{-22, 1}</string>
			<key>spriteSize</key>
			<string>{70, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{152, 2}, {70, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {68, 52}}</string>
			<key>spriteOffset</key>
			<string>{-23, 1}</string>
			<key>spriteSize</key>
			<string>{68, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{220, 106}, {68, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 48}, {68, 52}}</string>
			<key>spriteOffset</key>
			<string>{-23, 1}</string>
			<key>spriteSize</key>
			<string>{68, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{150, 106}, {68, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{142, 48}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-25, 1}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 214}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{142, 48}, {66, 52}}</string>
			<key>spriteOffset</key>
			<string>{-25, 1}</string>
			<key>spriteSize</key>
			<string>{66, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{294, 2}, {66, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 49}, {66, 50}}</string>
			<key>spriteOffset</key>
			<string>{-24, 1}</string>
			<key>spriteSize</key>
			<string>{66, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{138, 214}, {66, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{143, 50}, {66, 50}}</string>
			<key>spriteOffset</key>
			<string>{-24, -0}</string>
			<key>spriteSize</key>
			<string>{66, 50}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 214}, {66, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 54}, {64, 46}}</string>
			<key>spriteOffset</key>
			<string>{-24, -2}</string>
			<key>spriteSize</key>
			<string>{64, 46}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 56}, {64, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 59}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{-22, -4}</string>
			<key>spriteSize</key>
			<string>{62, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 300}, {62, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 60}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{-22, -5}</string>
			<key>spriteSize</key>
			<string>{62, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 208}, {62, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 59}, {62, 40}}</string>
			<key>spriteOffset</key>
			<string>{-22, -4}</string>
			<key>spriteSize</key>
			<string>{62, 40}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 208}, {62, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 58}, {62, 44}}</string>
			<key>spriteOffset</key>
			<string>{-22, -5}</string>
			<key>spriteSize</key>
			<string>{62, 44}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 56}, {62, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{147, 59}, {62, 42}}</string>
			<key>spriteOffset</key>
			<string>{-22, -5}</string>
			<key>spriteSize</key>
			<string>{62, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 160}, {62, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 62}, {62, 38}}</string>
			<key>spriteOffset</key>
			<string>{-23, -6}</string>
			<key>spriteSize</key>
			<string>{62, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 102}, {62, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 65}, {64, 34}}</string>
			<key>spriteOffset</key>
			<string>{-23, -7}</string>
			<key>spriteSize</key>
			<string>{64, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 250}, {64, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 34}}</string>
			<key>spriteOffset</key>
			<string>{-24, -7}</string>
			<key>spriteSize</key>
			<string>{64, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 94}, {64, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 314}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 300}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0036.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{-24, -9}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 268}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0037.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 38}}</string>
			<key>spriteOffset</key>
			<string>{-24, -9}</string>
			<key>spriteSize</key>
			<string>{64, 38}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 308}, {64, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0038.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{272, 262}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0039.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 268}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0040.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 344}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0041.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 56}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0042.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 342}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0043.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 306}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0044.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 348}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0045.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 142}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0046.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 266}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0047.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 2}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_9_0048.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{144, 65}, {64, 36}}</string>
			<key>spriteOffset</key>
			<string>{-24, -8}</string>
			<key>spriteSize</key>
			<string>{64, 36}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 304}, {64, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>