<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_23_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{139, 47}, {92, 52}}</string>
			<key>spriteOffset</key>
			<string>{-15, 2}</string>
			<key>spriteSize</key>
			<string>{92, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{110, 376}, {92, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{137, 46}, {102, 54}}</string>
			<key>spriteOffset</key>
			<string>{-12, 2}</string>
			<key>spriteSize</key>
			<string>{102, 54}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 430}, {102, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{135, 43}, {106, 56}}</string>
			<key>spriteOffset</key>
			<string>{-12, 4}</string>
			<key>spriteSize</key>
			<string>{106, 56}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 372}, {106, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{134, 41}, {112, 58}}</string>
			<key>spriteOffset</key>
			<string>{-10, 5}</string>
			<key>spriteSize</key>
			<string>{112, 58}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 312}, {112, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 40}, {118, 60}}</string>
			<key>spriteOffset</key>
			<string>{-8, 5}</string>
			<key>spriteSize</key>
			<string>{118, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 250}, {118, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{133, 40}, {128, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, 5}</string>
			<key>spriteSize</key>
			<string>{128, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 188}, {128, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{135, 40}, {134, 60}}</string>
			<key>spriteOffset</key>
			<string>{2, 5}</string>
			<key>spriteSize</key>
			<string>{134, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 126}, {134, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{132, 40}, {144, 60}}</string>
			<key>spriteOffset</key>
			<string>{4, 5}</string>
			<key>spriteSize</key>
			<string>{144, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 64}, {144, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{126, 40}, {154, 60}}</string>
			<key>spriteOffset</key>
			<string>{3, 5}</string>
			<key>spriteSize</key>
			<string>{154, 60}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{354, 2}, {154, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{124, 43}, {158, 56}}</string>
			<key>spriteOffset</key>
			<string>{3, 4}</string>
			<key>spriteSize</key>
			<string>{158, 56}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 254}, {158, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{123, 48}, {160, 52}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{160, 52}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{106, 430}, {160, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{123, 57}, {164, 42}}</string>
			<key>spriteOffset</key>
			<string>{5, -3}</string>
			<key>spriteSize</key>
			<string>{164, 42}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 378}, {164, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{117, 65}, {170, 34}}</string>
			<key>spriteOffset</key>
			<string>{2, -7}</string>
			<key>spriteSize</key>
			<string>{170, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 422}, {170, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 69}, {172, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{172, 30}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 346}, {172, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 71}, {172, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{172, 28}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 346}, {172, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 72}, {174, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -11}</string>
			<key>spriteSize</key>
			<string>{174, 28}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 286}, {174, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 71}, {172, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{172, 28}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 316}, {172, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 71}, {172, 28}}</string>
			<key>spriteOffset</key>
			<string>{1, -10}</string>
			<key>spriteSize</key>
			<string>{172, 28}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{268, 458}, {172, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 69}, {174, 30}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{174, 30}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 254}, {174, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{115, 67}, {172, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{172, 32}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 312}, {172, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 38}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 38}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 110}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 218}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 182}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 146}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 146}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 74}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 2}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 218}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 182}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_23_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{114, 66}, {174, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -8}</string>
			<key>spriteSize</key>
			<string>{174, 34}</string>
			<key>spriteSourceSize</key>
			<string>{400, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{178, 74}, {174, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>