<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>death_28_0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{295, 91}, {164, 108}}</string>
			<key>spriteOffset</key>
			<string>{-23, 5}</string>
			<key>spriteSize</key>
			<string>{164, 108}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 640}, {164, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{301, 87}, {172, 112}}</string>
			<key>spriteOffset</key>
			<string>{-13, 7}</string>
			<key>spriteSize</key>
			<string>{172, 112}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 880}, {172, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{300, 66}, {174, 138}}</string>
			<key>spriteOffset</key>
			<string>{-13, 15}</string>
			<key>spriteSize</key>
			<string>{174, 138}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 872}, {174, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{330, 37}, {156, 170}}</string>
			<key>spriteOffset</key>
			<string>{8, 28}</string>
			<key>spriteSize</key>
			<string>{156, 170}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 2}, {156, 170}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{342, 23}, {152, 176}}</string>
			<key>spriteOffset</key>
			<string>{18, 39}</string>
			<key>spriteSize</key>
			<string>{152, 176}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 406}, {152, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{353, 20}, {136, 178}}</string>
			<key>spriteOffset</key>
			<string>{21, 41}</string>
			<key>spriteSize</key>
			<string>{136, 178}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 406}, {136, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{371, 27}, {148, 172}}</string>
			<key>spriteOffset</key>
			<string>{45, 37}</string>
			<key>spriteSize</key>
			<string>{148, 172}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{836, 698}, {148, 172}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{388, 20}, {150, 178}}</string>
			<key>spriteOffset</key>
			<string>{63, 41}</string>
			<key>spriteSize</key>
			<string>{150, 178}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{340, 824}, {150, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{390, 16}, {166, 182}}</string>
			<key>spriteOffset</key>
			<string>{73, 43}</string>
			<key>spriteSize</key>
			<string>{166, 182}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 1018}, {166, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{383, 16}, {200, 182}}</string>
			<key>spriteOffset</key>
			<string>{83, 43}</string>
			<key>spriteSize</key>
			<string>{200, 182}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 640}, {200, 182}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{377, 22}, {222, 176}}</string>
			<key>spriteOffset</key>
			<string>{88, 40}</string>
			<key>spriteSize</key>
			<string>{222, 176}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 228}, {222, 176}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 31}, {246, 168}}</string>
			<key>spriteOffset</key>
			<string>{98, 35}</string>
			<key>spriteSize</key>
			<string>{246, 168}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 228}, {246, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{370, 34}, {262, 166}}</string>
			<key>spriteOffset</key>
			<string>{101, 33}</string>
			<key>spriteSize</key>
			<string>{262, 166}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 60}, {262, 166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{370, 40}, {280, 162}}</string>
			<key>spriteOffset</key>
			<string>{110, 29}</string>
			<key>spriteSize</key>
			<string>{280, 162}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1202}, {280, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 49}, {286, 152}}</string>
			<key>spriteOffset</key>
			<string>{115, 25}</string>
			<key>spriteSize</key>
			<string>{286, 152}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1366}, {286, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{374, 62}, {288, 140}}</string>
			<key>spriteOffset</key>
			<string>{118, 18}</string>
			<key>spriteSize</key>
			<string>{288, 140}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 406}, {288, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{375, 81}, {296, 122}}</string>
			<key>spriteOffset</key>
			<string>{123, 8}</string>
			<key>spriteSize</key>
			<string>{296, 122}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 756}, {296, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{366, 102}, {314, 100}}</string>
			<key>spriteOffset</key>
			<string>{123, -2}</string>
			<key>spriteSize</key>
			<string>{314, 100}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1018}, {314, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 123}, {320, 78}}</string>
			<key>spriteOffset</key>
			<string>{127, -12}</string>
			<key>spriteSize</key>
			<string>{320, 78}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 938}, {320, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 137}, {322, 64}}</string>
			<key>spriteOffset</key>
			<string>{128, -19}</string>
			<key>spriteSize</key>
			<string>{322, 64}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 872}, {322, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0021.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {326, 56}}</string>
			<key>spriteOffset</key>
			<string>{130, -23}</string>
			<key>spriteSize</key>
			<string>{326, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 814}, {326, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0022.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {328, 56}}</string>
			<key>spriteOffset</key>
			<string>{131, -23}</string>
			<key>spriteSize</key>
			<string>{328, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 756}, {328, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0023.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {330, 56}}</string>
			<key>spriteOffset</key>
			<string>{132, -23}</string>
			<key>spriteSize</key>
			<string>{330, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 698}, {330, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0024.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {332, 56}}</string>
			<key>spriteOffset</key>
			<string>{133, -23}</string>
			<key>spriteSize</key>
			<string>{332, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 640}, {332, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0025.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 408}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0026.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 118}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0027.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 350}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0028.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {336, 56}}</string>
			<key>spriteOffset</key>
			<string>{135, -23}</string>
			<key>spriteSize</key>
			<string>{336, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {336, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0029.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 524}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0030.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 234}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0031.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 466}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0032.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 176}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0033.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 582}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0034.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 292}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>death_28_0035.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 145}, {334, 56}}</string>
			<key>spriteOffset</key>
			<string>{134, -23}</string>
			<key>spriteSize</key>
			<string>{334, 56}</string>
			<key>spriteSourceSize</key>
			<string>{800, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 60}, {334, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 2048}</string>
	</dict>
</dict>
</plist>